html, body {
    height: 100%;
}

body {
    font-family: Roboto, sans-serif;
    margin: 0;
}

/* Header */

.header, .page1 {
    display: flex;
    justify-content: space-between;
    padding: 15px 15%;
    background-color: #1F2937;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
}

ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 32px;
}

a, .page1.text {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

/* Page 1 */

.page1 {
    align-items: center;
    height: 500px;
    padding: 0 15%;
    gap: 50px;
    color: #F9FAF8;
}

.left-texts {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.page1 .left-texts {
    gap: 10px;
}

.title {
    font-size: 48px;
    font-weight: 900;
}

.placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 575px;
    height: 250px;
    background-color: #979ba1;    
}

button {
    background-color: #3882F6;
    border: none;
    width: fit-content;
    padding: 7px 28px;
    border-radius: 6px;
    font-weight: bold;
    color: #E5E7EB;
}

/* Page 2 */

.page2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 500px;
}

.page2 .container {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 0 25%;
}

.heading {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    margin: 50px 0;
}

.box {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}

.page2 img {
    border-style: solid;
    border-radius: 10px;
    border-color: #3882F6;
    width: 150px;
    height: 150px;
}

/* Page 3 */

.page3 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    height: 400px;
}

.page3 .container {
    display: flex;
    flex-direction: column;
    margin: 0 22%;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    color: #1F2937;
}

.credit {
    align-items: start;
    text-align: end;
    font-size: 23px;
    font-weight: bold;
}

/* Page 4 */

.page4 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    margin: 0px 10%;
}

.modal {
    display: flex;
    justify-content: space-between;
    color: #E5E7EB;
    background-color: #3882F6;
    border-radius: 5px;
    padding: 40px 10%;
    gap: 150px;
}

.subheading {
    font-weight: bold;
    font-size: 21px;
}

.button {
    display: flex;
    align-items: center;
}

.page4 .sign-up {
    border: 2px solid #E5E7EB;
}

/* Footer */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
    background-color: #1F2937;
    color: #E5E7EB;
}